{% extends 'base.html' %}{% load static %}{% block pageContent %}
<style>
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
</style>
<div class="d-flex flex-column w-100 justify-content-center align-items-center">
   
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-default rounded-0 shadow">
            <div class="card-header">
                <h4 class="card-title"><b>Buscar Viajes Programados</b></h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form id="login-user" method="POST" action="{% url 'viajes-programados-pagina' %}">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div class="form-group mb-3">
                                    <label for="date" class="control-label">Fecha</label>
                                    <input type="date" class="form-control rounded-0" min = '{{ today }}' autofocus name="date" id="date" required="required">
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="origen" class="control-label">Origen</label>
                                    <select name="origen" id="origen" class="form-select select2 rounded-0">
                                        <option selected></option>
                                        {% for sede in sedes %}
                                        <option value="{{ sede.id }}" >{{ sede }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3 ">
                                    <label for="destino" class="control-label">Destino</label>
                                    <select name="destino" id="destino" class="form-select select2 rounded-0">
                                        <option selected></option>
                                        {% for sede in sedes %}
                                        <option value="{{ sede.id }}" >{{ sede }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <div class="col-md-4">

                                        </div>
                                        <button class="btn btn-sm rounded-0 btn-primary">
                                               Buscar
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('.select2').select2({
            width:"100%",
            placeholder: "Por favor seleccionar una sede",
        })
    });

    const origenSelect = $('#origen');
    const destinoSelect = $('#destino');

    origenSelect.on('change', checkDuplicateSelection);
    destinoSelect.on('change', checkDuplicateSelection);

    function checkDuplicateSelection() {
        const selectedOrigen = origenSelect.val();
        const selectedDestino = destinoSelect.val();

        if (selectedOrigen && selectedDestino && selectedOrigen === selectedDestino) {
            alert("El origen y el destino no pueden ser iguales. Por favor, seleccione diferentes opciones.");

            // Resetear uno de los campos (puedes elegir el que prefieras)
            origenSelect.val(null).trigger('change');
        }
    }
});


</script>
{% endblock ScriptBlock %}


