{% extends 'base.html' %} {% load humanize %} {% block pageContent %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-default rounded-0 shadow ">
            <div class="card-header">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <h4 class="card-title fw-bold">{% if not is_searched %}Viajes Programados{% else %}Resultados || Viajes Programados {% endif %}</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    {% if is_searched %}
                        <fieldset>
                            <legend>Resultados</legend>
                            <dl class="row my-0">
                                <dt class="col-auto fw-bold">Fecha:</dt>
                                <dd class="col-auto flex-grow-1 flex-shrink-1">{{ data.date }}</dd>
                            </dl>
                            <dl class="row my-0">
                                <dt class="col-auto fw-bold">Origen:</dt>
                                <dd class="col-auto flex-grow-1 flex-shrink-1">{{ data.origen.sede }}</dd>
                            </dl>
                            <dl class="row my-0">
                                <dt class="col-auto fw-bold">Destino:</dt>
                                <dd class="col-auto flex-grow-1 flex-shrink-1">{{ data.destino.sede }}</dd>
                            </dl>
                        </fieldset>
                    {% endif %}
                    <table class="table table-bordered" id="programado-lista">
                        <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            <th class="px-2 py-2 text-center">Asientos Disponibles</th>
                            <th class="px-2 py-2 text-center">Programación/Bus</th>
                            <th class="px-2 py-2 text-center">Ruta (Origen - Destino)</th>
                            <th class="px-2 py-2 text-center">Precio</th>
                            <th class="px-2 py-2 text-center">Estado</th>
                            <th class="px-2 py-2 text-center">Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for programado in programados %}
                            <tr>
                                <td class="px-2 py-1 align-middle">{{ forloop.counter }}</td>
                              <td class="px-2 py-1 align-middle text-center"> {#  {{ programado.count_asientosdisponibles }}#} </td>
                                <td class="px-2 py-1 align-middle">
                                    <div class="lh-1">
                                        <div>{{ programado.programado|date:"Y-m-d h:i A" }}</div>
                                        <div>{{ programado.bus.bus_numero }}</div>
                                        <small class="text-muted">{{ programado.bus.categoria }}</small>
                                    </div>
                                </td>
                                <td class="px-2 py-1 align-middle">
                                    <div class="lh-1">
                                        <div>{{ programado.origen }}</div>
                                        <div>{{ programado.destino }}</div>
                                    </div>
                                </td>
                                <td class="px-2 py-1 align-middle text-end"> </td>
                                <td class="px-1 py-1 align-middle text-center">
                                    {% if programado.estado == '1' %}
                                        <span class="badge bg-primary bg-gradient rounded-pill px-2">Programado</span> {% else %}
                                        <span class="badge bg-danger bg-gradient rounded-pill px-2">Cancelado</span> {% endif %}
                                </td>
                                <td class="px-2 py-1 align-middle text-center">
                                    <button class="btn btn-outline-primary btn-sm book-data" type="button"
                                            data-id="{{ programado.pk }}" title="Recorrido">
                                        <i class="fa fa-ticket-alt"></i> Despacho
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %} {% block ScriptBlock %}
    <script>
        $(function () {
            $('.book-data').click(function () {
                uni_modal("Booking Form", '{%  url "adm-programado" %}/' + $(this).attr('data-id'), 'mid-large')
            })
            $('#programado-lista').DataTable({
                columnDefs: [{
                    orderable: false,
                    targets: 6
                }],
                "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                 },

                initComplete: function (settings, json) {
                    $('table td, table th').addClass('px-2 py-1')
                },
                drawCallback: function (settings) {
                    $('table td, table th').addClass('px-2 py-1')
                }
            })
        })
    </script>
{% endblock ScriptBlock %}